.LoginContent {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 300px;    
}
.addCase {
    position: relative;
    

    margin-left: auto;
    margin-right: auto;
    width: 600px;    
}